/* View notes */
.card-thumbnail {
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    width: 30%;
    height: 0;
    padding-top: calc(0.66 * 30%);
    background-size: cover;
    justify-content: center;
}

.extracount {
    color: white;
    align-self: center;
    font-size: calc(1rem + (12 - 1) * ((100vw - 300px) / (2400 - 300)));
    font-weight: 700;
    margin-bottom: calc(0.66 * 90%);
}

.card-badge {
    padding: .35em .5em;
    font-size: 80%;
}

/* View notes search field */
#note-search {
    margin-top: 2.5em;
}

#fitem_id_submitbutton {
    display: inline;
    margin-left: 0;
}

#fitem_id_q {
    display: inline;
}

#fitem_id_q > div.col-md-9.form-inline.felement {
    max-width: 100%;
    padding-right: 0;
}

@media (min-width: 768px) {

    #fitem_id_q > div.col-md-9.form-inline.felement {
        max-width: 100%;
    }
}
